body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  min-height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}

p,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.contents {
  /* 푸터길이만큼 픽셀 뺀다 */
  min-height: calc(100vh - 100px);
  overflow: hidden;
  background-color: antiquewhite;
  width: 100%;
}

.nav_container {
  display: flex;
  width: 300px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.footer_container {
  padding: 0 15px;
  min-height: 100px;
  height: 100%;
  background-color: gray;
  color: #fff;
  overflow: hidden;
}
